<h1>DragonBall Page</h1>
<hr>

<section class="row mx-2">
    <div class="col-12 col-sm-6">
        <!-- Desde el padre se recibe la información haciendo referencia al evento
        y a la función que llama se le envía el evento (Trae el Character) 
        -->
        <dragonball-character-add
        (newCharacter)="addCharacter($event)"
        />
    </div>

    
    <div class="col-12  col-sm-6">
        <dragonball-character-list 
            listName="Listado de Personajes"
            [characters]="characters()" 
        />
    </div>
</section>